.book-container {
  position: fixed;
  top: 125px;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: none;
}

.book-frame {
  top: 125px;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  overflow: hidden;
}
