.chalkboard-container {
  display: flex;
  justify-content: space-between; /* separates both sides */
  align-items: center;
  width: 1000px;
  height: 70vh;
  background: url("../../assets/Hero/board.png") no-repeat center;
  background-size: cover;
}

.chalkboard-left {
  width: 56%; /* fixed width instead of flex ratio */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 80px;
}

.chalkboard-right {
  width: 44%; /* independent width */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.chalk-text {
  margin-top: -150px;
  text-transform: uppercase;
  font-family: "Shadows Into Light", cursive;
  font-weight: normal;
  font-size: 60px;
  background:
    repeating-radial-gradient(#444 0 0.00003%, #ffffff 0.0004%) 50% 0/2500px 2500px,
    repeating-conic-gradient(#555 0 0.00003%, #fefefe 0.0004%) 50% 50%/2500px 2500px;
  background-blend-mode: screen;
  mix-blend-mode: lighten;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  filter: brightness(0.9) contrast(1.2);
}

.chalk-role {
  margin-top: -50px;
  text-transform: uppercase;
  font-family: "Shadows Into Light", cursive;
  font-weight: normal;
  font-size: 30px;
  background:
    repeating-radial-gradient(#444 0 0.00003%, #ffffff 0.0004%) 50% 0/2500px 2500px,
    repeating-conic-gradient(#555 0 0.00003%, #fefefe 0.0004%) 50% 50%/2500px 2500px;
  background-blend-mode: screen;
  mix-blend-mode: lighten;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  filter: brightness(0.9) contrast(1.2);
}

.chalk-stick {
  position: absolute;
  top: 51%;
  left: 440px;
  width: 40px;
  height: 8px;
  background: linear-gradient(145deg, #ffffff 0%, #e0e0e0 100%);
  border-radius: 3px;
  transform: rotate(45deg);
}


@keyframes chalkMove {
  0%   { transform: translateX(0px) rotate(45deg); opacity: 1; }
  100% { transform: translateX(300px) rotate(45deg); opacity: 1; }
}

.sticky-note {
  width: 150px;
  height: auto;
  margin-right: 100px;
  transform: rotate(-5deg);
  transition: transform 0.3s ease;
}

.sticky-note:hover {
  transform: rotate(0deg) scale(1.05);
}
